/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* .wrap {
  overflow: hidden;
} */

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #eee;
  display: block;
} 

a:hover {
  cursor: pointer;
  opacity: 0.5;
} 

li:hover {
  cursor: pointer;
  opacity: 0.5;
} 

li {
  position: relative;
}

h1 {
  margin: 0;
  text-align: center;
}

table {
  margin: 0 auto;
  line-height: 3;
}

p {
  line-height: 2;
}


h1 {
  font-weight: bold;
  line-height: 4;
}

img {
  display: block;
  margin: 0 auto;
  transition: all .9s;
  width: 100%;
  margin: 64px auto;
}

img:hover {
  border-radius: 10%;
  transition: .6s;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* header */

header {
  background-color: gray;
  position: fixed;
  width: 100%;
  color: #fff;
}

header a {
  display: block;
}

header ul {
  display: flex;
}

header li {
  font-weight: bold;
  line-height: 4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 0;
  width: 100%;
  text-align: center;
}


/* profile section*/

.profile {
  background-color: #fff;
}

.profile h1 {
  padding-top: 8%;
}

.profile p {
  line-height: 2;
}

.center_box {
  text-align: center;
  padding: 5%;
}

.profile.center_box p {
  display: inline-block;
  text-align: left;
  font-weight: normal;
}

.center_box p {
  display: inline-block;
  text-align: left;
}

.center_box p + p {
  display: inline-block;
  text-align: left;
}


/* career section*/

.career {
  background-color: rgba(0, 0, 0, .15);
}

.career h1 {
  padding-top: 8%;
}

.career table {
  margin-top: 6%;
}

/* skill section */

.skills {
  background-color: #eee;
}

.skills h1 {
  padding-top: 8%;
}

.center_box {
  text-align: center;
}

.center_box table {
  display: inline-block;
  text-align: left;
  padding: 5%;
  line-height: 3;
  font-weight: bold;
}

.skills img {
  transition: all 1s;
  margin: 5% auto;
  display: block;
}

/* sait section */

.samplesite {
  background-color: rgba(0, 0, 0, 0.15);
}

.samplesite h1 {
padding-top: 8%;
}

.samplesite p {
  text-align: center;
  padding-top: 10%;
  margin: 5%;
}

.samplesite li {
text-align: left;
}


.samplesite li {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
  margin: 15% auto 25%;
}

.samplesite a {
  color: black;
  height: 60px;
  line-height: 60px;
  text-align: center;
  /* width: 80px; */
}

.samplesite i {
  margin-right: 2%;
}

/* footer */

footer {
  background-color: gray;
  text-align: center;
  color: #eee;
}

small {
  /* font-size: 15px; */
  line-height: 4;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: opacity .3s;
}

#to_top i {
  font-size: 32px;
  color: black;
}

/* small screen */

@media screen and (min-width: 207px) and (max-width:429px) {

img {
  margin: 5% auto;
}

p,
table {
  font-size: 13px;
}

.header  li {
  line-height: 3;
}

.profile h1 {
  padding-top: 20%;
}

.career h1 {
  padding-top: 20%;
}

.career table {
  padding: 5%;
}


.skills h1 {
  padding-top: 20%;
}

.samplesite h1 {
  padding-top: 20%;
}

.samplesite p {
  padding: 10%;
}

.samplesite ul {
  margin-bottom: -15%;
  padding-bottom: 15%;
}

.samplesite li {
margin: 15%;
text-align: center;
}


footer {
padding: 0;
}


}


/* midium screen */

@media screen and (min-width: 430px) and (max-width:839px) {

  p,
  table {
    font-size: 14px;
  }
  .samplesite ul {
    display: flex;
  }
  .samplesite a {
  display: block;
  width: 100px;
  }
  .career table {
    padding: 5%;
  }

  .overlay,
  .sp-menu {
    display: none;
  }
  
}

/* large screen */

@media screen and (min-width:840px) {
  
  p,
  table {
    font-size: 15px;
  }
  .samplesite ul {
    display: flex;
  }
  .samplesite a {
    display: block;
    width: 100px;
  }
  .career table {
    padding: 5%;
  }
}
