/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

h1 {
  margin: 0;
  padding-top: 64px;
  text-align: center;
}

table {
  margin: 0 auto;
  line-height: 3;
}

p {
  line-height: 2;
}


h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 4;
}

img {
  display: block;
  margin: 0 auto;
  transition: all .9s;
  width: 100%;
  margin: 64px auto;
}

img:hover {
  border-radius: 10%;
  transition: .6s;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* header */

header {
  background-color: gray;
  position: fixed;
  width: 100%;
}

header ul {
  display: flex;
}

header li {
  padding: 0px 32px 0px 32px;
  font-weight: bold;
  line-height: 4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin: 0;
}

header a {
  color: #fff;
}

/* profile section*/

.profile {
  background-color: #fff;
}

.profile p {
  line-height: 3;
}

.center_box {
  text-align: center;
  padding: 64px;
}

.profile.center_box p {
  display: inline-block;
  text-align: left;
  font-weight: normal;
}

.center_box p {
  display: inline-block;
  text-align: left;
}


/* career section*/

.career {
  background-color: rgba(0, 0, 0, .15);
}

table {
  padding: 64px;
}

/* skill section */

.skills {
  background-color: #eee;
}

.center_box {
  text-align: center;
}

.center_box table {
  display: inline-block;
  text-align: left;
  padding: 64px;
  line-height: 3;
  font-weight: bold;
}

.skills img {
  transition: all 1s;
  margin: 64px auto;
  display: block;
}

/* samplesait section */

.samplesite {
  background-color: rgba(0, 0, 0, 0.15);
}

.samplesite p {
  text-align: center;
  padding-top: 90px;
}

.samplesite ul {
  display: flex;
}

.samplesite li {
  margin: 128px auto ;
  /* font-size: 20px; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  padding: 16px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 8px;
  
}

.samplesite a {
  color: black;
}

.samplesite i {
  margin-right: 8px;
}

/* footer */

footer {
  background-color: gray;
  text-align: center;
  color: #eee;
}

small {
  font-size: 15px;
  line-height: 4;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: opacity .3s;
}

#to_top i {
  font-size: 32px;
  color: black;
}

/* large screen */

/* @media (min-width: 770px) {
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .pic,
  .text {
width: 50%;
  }


.career table
,.skills table
 {
  width: 800px;
}

.skills.container {
  flex-direction: row-reverse;
}
  } */